<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	lang="sv">
	<xi:include href="../layout.html" />
	<xi:include href="layout.html" />
	<head>
		<title>Pirateplayer - historik</title>
	</head>
	<body>
		${changelog_markup}
		<!--<h2>Version 0.5.0 (2013-03-XX)</h2>
		<ul>
			<li>Stöd för Android.</li>
			<li>Tidsinställda nedladdningar.</li>
			<li>Helt skriptat GUI.</li>
			<li>Möjlighet att ladda ner HLS-strömmar som <a href="http://en.wikipedia.org/wiki/MPEG_transport_stream">Transport Streams</a>.</li>
			<li>Autonom suffixhantering.</li>
			<li>Ställbar teckenstorlek.</li>
			<li>Helskärmsläge.</li>
			<li>Ffplay stöd för Mac.</li>
		</ul>
		<h2>Version 0.4.6 (2013-02-07)</h2>
		<ul>
			<li>Stöd för nedladdningar utan känd längd, ex. livesändningar.</li>
			<li>Qt Desktop Components gjort till frivilligt beroende.</li>
			<li>Visning av publiceringsdatum för nyheter/tweets.</li>
			<li>Uppdaterade Qt-bibliotek.</li>
			<li>Uppdaterad Ffmpeg.</li>
			<li>Buggifx: bättre hantering av avbrutna HLS-nedladdningar.</li>
			<li>Flertalet mindre buggfixar.</li>
		</ul>
		<h2>Version 0.4.5 (2012-11-05)</h2>
		<ul>
			<li>Påminnelse i spara-dialogen om filnamn.</li>
			<li>Twitter/nyhets-bugg fixad.</li>
		</ul>
		<h2>Version 0.4.4 (2012-10-09)</h2>
		<ul>
		<li>Stöd för tillägg.</li>
			<li>Omarbetad Bläddra-funktion (implementerad som ett tillägg).</li>
		</ul>
		<h2>Version 0.4.3 (2012-09-19)</h2>
		<ul>
			<li>Bättre (asynkrona) meddelanden.</li>
			<li>Hyperlänkar i nyheter/tweets.</li>
			<li>Bättre visning av inkompatibla strömmar.</li>
		</ul>
		<h2>Version 0.4.2 (2012-09-18)</h2>
		<ul>
			<li>Buggfix: stökiga sökvägar i dialogrutan för att spara strömmar.</li>
			<li>Buggfix: mer konsekvent visning av sökvägar i Windows.</li>
			<li>Buggfix: "Öppna" nedladdning i Windows.</li>
			<li>Suffixförslag: Pirateplayer försöker föreslå lämplig filändelse.</li>
		</ul>
		<h2>Version 0.4.0 (2012-09-17)</h2>
		<ul>
			<li>Stöd för HLS-strömmar (många av SVTs videos är numera av den typen).</li>
			<li>Omorganisation av användargränssnittet.</li>
			<li>Redigering av nedladdningsaddresser.</li>
			<li>Uppspelning av strömmar i extern videospelare.</li>
			<li>Videospelaren borttagen: många externa videospelare har numera möjlighet att spela upp RTMP/HLS-strömmar.</li>
			<li>Visning av nyheter (via Twitter).</li>
			<li>Möjlighet att återuppta avbrutna nedladdningar borttagen.</li>
			<li>Användarinställningar.</li>
		</ul>
		<h2>Version 0.3.1 (2012-01-14)</h2>
		<ul>
		<li>Applikationsikon - tack till Bernard!</li>
		</ul>
		<h2>Version 0.3 (2012-01-11)</h2>
		<ul>
			<li>Viss möjlighet att återuppta avbrutna nedladdningar.</li>
			<li>Inbyggd programväljare, ett slags fjärrkontroll.</li>
			<li>Hantering av ompekande http-svar - gör att nedladdningar från Sveriges Radio fungerar.</li>
			<li>TV4s undertexter sparas med filändelsen smi (tidigare smi?) för att inte fucka ur på Windows-system.</li>
			<li>Buggfix: Nedladdning av program på över en timme avbryts ej längre.</li>
		</ul>
		<h2>Version 0.2 (2011-11-11)</h2>
		<ul>
			<li>Parallella nedladdningar.</li>
			<li>Inbyggd videospelare.</li>
			<li>Nedladdning av undertexter.</li>
			<li>Flertalet buggfixar.</li>
			<li>Installationsprogram för Windows.</li>
		</ul>
		<h2>Version 0.1 (2011-10-12)</h2>
		<ul>
			<li>Första versionen!</li>
		</ul>-->
	</body>
</html>