<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	lang="sv">
	<xi:include href="../layout.html" />
	<xi:include href="layout.html" />
	<head>
		<title>Pirateplayer - tack till</title>
	</head>
	<body>
		<p>Stort tack till <strong>Bernard</strong> för OS X-kompilering och ikonen!</p>
		<p>Stort tack till <strong>A J</strong> för testning av Ubuntu/Debian-paketet!</p>
		<p>Stort tack till <strong>Milleman</strong> för texten om hur man kompilerar Pirateplayer i Ubuntu 12.04!</p>
		<p>Stort tack till <strong>Teddy</strong> för kompilering och paketering av OS X-versionen (0.4.6 och 0.5.0)!</p>
		<p>Stort tack till alla som Flattrat:
			<ul class="no-external-ico"><li py:for="name, link in flattr_names"><a href="${link}">${name}</a></li></ul>
		</p>
	</body>
</html>