<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	lang="sv">
	<xi:include href="../layout.html" />
	<xi:include href="layout.html" />
	<head>
		<title>Pirateplayer - installera</title>
		<style type="text/css">
			.osbox { display: inline-block; margin: 1%; padding: 1%; vertical-align: top; width: 45% }
			.osbox h2 { margin-top: 0 }
		</style>
	</head>
	<body>
		<div class="osbox">
			<h2>Windows</h2>
			<p>Ladda ner och kör <a href="downloads/latest.win32">installationsprogrammet</a>. Pirateplayer finns därefter tillgängligt från Startmenyn</p>
		</div>
		<div class="osbox">
			<h2>Mac OS X</h2>
			<p>Installera <a href="downloads/latest.osx">Pirateplayers diskavbild (dmg)</a>.</p>
			<!--<p>Denna utgåva har testats i Mac OS X 10.7.x och 10.8.x på 64-bitars macar. Det är inte säkert att den fungerar i äldre mac-miljöer.</p>-->
			<p>Stort tack till <em>Teddy</em> för kompilering och paketering av OS X-versionen!</p>
		</div>
		<div class="osbox">
			<h2>Android</h2>
			<p>Installera via <a href="#">Google-play</a> eller ladda ner det senaste <a href="#">android-paketet</a>.</p>
		</div>
		<div class="osbox">
			<h2>Archlinux</h2>
			<p>Installera från med hjälp av <a href="http://aur.archlinux.org/packages.php?ID=62902">denna pkgbuild</a> via <a href="https://wiki.archlinux.org/index.php/AUR">AUR</a>.</p>
		</div>
		<div class="osbox">
			<h2>Ubuntu/Debian Linux</h2>
			<p><a href="../installera_pirateplayer_i_ubuntu.html">Installationsinstruktioner</a>.</p>
		</div>
		<div class="osbox">
			<h2>Gamla utgåvor</h2>
			<p>Samtliga utgåvor finns listade i <a href="downloads/">Arkivet</a>.</p>
		</div>
		<hr />
		<h2>Källkod</h2>
		<p>Finns inte ditt operativsystem/distribution ovan kan du alltid kompilera och installera från <a href="http://github.com/jackuess/pirateplayer/">källkoden</a>.</p>
		<p>Hör gärna av dig om du har möjlighet att bygga/testa paket för din favoritdistribution: jacques@pirateplay.se.</p>
	</body>
</html>