<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	lang="sv">
	<xi:include href="../layout.html" />
	<xi:include href="layout.html" />
	<head>
		<title>Pirateplayer - skärmdumpar</title>
		<style type="text/css">
			#screens { display: inline-block }
			#screens img { margin: 1%; vertical-align: top }
		</style>
	</head>
	<body>
		<div id="screens">
			<a href="../static/images/ppscreens/v0_5_0-kde.png"><img src="../static/images/ppscreens/v0_5_0-kde.thumb.png" /></a>
			<a href="../static/images/ppscreens/v0_4_6-ubuntu.png"><img src="../static/images/ppscreens/v0_4_6-ubuntu.thumb.png" /></a>
			<a href="../static/images/ppscreens/v0_4_4-kde.png"><img src="../static/images/ppscreens/v0_4_4-kde.thumb.png" /></a>
			<a href="../static/images/ppscreens/v0_4_3-osx.png"><img src="../static/images/ppscreens/v0_4_3-osx.thumb.png" /></a>
			<a href="../static/images/ppscreens/v0_4_3-mint.png"><img src="../static/images/ppscreens/v0_4_3-mint.thumb.png" /></a>
			<a href="../static/images/ppscreens/v0_2-kde.png"><img src="../static/images/ppscreens/v0_2-kde.thumb.png" /></a>
			<a href="../static/images/ppscreens/v0_2-osx.png"><img src="../static/images/ppscreens/v0_2-osx.thumb.png" /></a>
			<a href="../static/images/ppscreens/v0_2-wine.png"><img src="../static/images/ppscreens/v0_2-wine.thumb.png" /></a>
		</div>
	</body>
</html>