<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	lang="sv">
	<xi:include href="../layout.html" />
	<xi:include href="layout.html" />
	<head>
		<title>Pirateplayer - skärmdumpar</title>
		<style type="text/css">
			ul#screens { list-style: none }
			ul#screens li { display: inline-block; vertical-align: top }
			ul#screens a { display: inline-block;max-height: 150px; overflow: hidden }
			#screens img { margin: 1%; vertical-align: top }
			#screens a.thumb-description { display: block; text-align: center }
		</style>
	</head>
	<body>
		<ul id="screens">
			<li py:for="s in screens"><a href="${s['link']}"><img src="${s['thumb_link']}" /></a><a href="${s['link']}" class="thumb-description">${s['description']}</a></li>
		</ul>
	</body>
</html>