@import url(http://fonts.googleapis.com/css?family=Quattrocento);
@import url(http://fonts.googleapis.com/css?family=Fugaz+One);

a, a:visited {
	/*color: #00e;*/
	color: #f00;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

body {
	background-color: #f0efe7;
	font-family: 'Quattrocento', sans-serif;
	font-size: 16px;
	margin: 0;
}
body > * {
	margin-left: auto;
	margin-right: auto;
	/*width: 50%;*/
}

div#logo {
	border-radius: 10px 10px 10px 10px;
	font-size: 1.3em;
	color: white;
	font-family: 'Fugaz One';
	left: .3%;
	padding: .5%;
	padding-left: 2%;
	padding-right: 2%;
	position: absolute;
	top: .3%;
	width: auto;
}

h1 {
	font-size: 2.5em;
	margin-top: 2%;
	margin-bottom: 4%;
}

h2:target {
	border-left: 10px solid #ee2;
	padding-left: 1%;
}

input[type='text'], option {
	border: 1px solid black;
	border-radius: 3px;
	width: 100%;
}

label {
	display: block;
	margin-top: 1%;
}
input[type='checkbox'] + label, input[type='radio'] + label {
	display: inline;
}

nav {
	/*background-color: #fcfcfc;
	box-shadow: inset 0px -3px 5px #ddd;*/
	left: .3%;
	margin: 0;
	margin-bottom: 2%;
	padding-bottom: .9em;
	/*width: 100%;*/
	position: absolute;
	top: 7%;
}
nav ul { padding: inherit;
	margin-left: 15%;  }
nav li {
	font-size: 1.2em;
	font-weight: bold;
	/*padding-left: 5%;*/
	padding: 3%;
	list-style: none;
	white-space: nowrap;
}
nav li a, nav li a:visited {
	color: black;
}
nav li:nth-child(5) { margin-top: 20%;/*border-top: 1px solid #ddd;*/ }
nav li a:hover, nav li a.selected {
	color: #f55;
	text-decoration: none;
}

section#content {
	width: 60%;
}


.box {
	background-color: #fffff9;
	background: -webkit-linear-gradient(top, #fff, #ffe);
	box-shadow: 0 0 5px #777;
	margin: .5%;
	margin-top: 3%;
	padding: 1%;
	vertical-align: top;
}
.box.centered {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
.box-black {
	background-color: #333;
	background: -webkit-linear-gradient(bottom, #000, #666);
	background: -moz-linear-gradient(bottom, #000, #666);
	color: #eee;
}
.box-green {
	background-color: #aca;
	background: -webkit-linear-gradient(top, #bdb, #9b9);
}
.box-red {
	background-color: #f99;
	background: -webkit-linear-gradient(top, #faa, #f88);
}
.box-yellow {
	background-color: #eea;
	background: -webkit-linear-gradient(top, #ffb, #e0e09f);
}
.box-container {
	margin-top: 3%;
	text-align: center;
}
.box-container .box {
	display: inline-block;
	margin-top: .3%;
	text-align: left;
}
.centered { text-align: center }