@import url(http://fonts.googleapis.com/css?family=Quattrocento);
@import url(http://fonts.googleapis.com/css?family=Fugaz+One);

a, a:visited {
	color: #00e;
	text-decoration: none;
}

body {
	background-color: #f9f9f9;
	background-color: #F0EFE7;
	font-family: 'Quattrocento', sans-serif;
	font-size: 14px;
	margin: 0;
	/*margin-left: auto;
	margin-right: auto;
	width: 80%*/
}
body > * {
	margin-left: auto;
	margin-right: auto;
	/*width: 50%;*/
}

div#logo {
	/*background-color: black;*/
	background: -webkit-linear-gradient(top, #000, #555);
	border-radius: 0 0 10px 0;
	font-size: 1.3em;
	color: white;
	font-family: 'Fugaz One';
	left: 0%;
	padding: .5%;
	padding-left: 2%;
	padding-right: 2%;
	position: absolute;
	top: 0;
	width: auto;
}

h1 {
	margin-top: 2%;
}

h2:target {
	border-left: 10px solid #ee2;
	padding-left: 1%;
}

input[type='text'], option {
	border: 1px solid black;
	border-radius: 3px;
	width: 100%;
}

label {
	display: block;
	margin-top: 1%;
}
input[type='checkbox'] + label, input[type='radio'] + label {
	display: inline;
}

nav {
	/*background-color: #fcfcfc;
	box-shadow: inset 0px -3px 5px #ddd;*/
	left: 0;
	margin: 0;
	margin-bottom: 2%;
	padding-bottom: .9em;
	/*width: 100%;*/
	position: absolute;
	top: 7%;
}
nav ul { padding: inherit;  }
nav li {
	font-size: 1.2em;
	font-weight: bold;
	padding-left: 5%;
	padding: 3%;
	list-style: none;
	white-space: nowrap;
}
nav li a, nav li a:visited {
	color: black;
}
nav li:nth-child(5) { margin-top: 20%;/*border-top: 1px solid #ddd;*/ }
nav li a:hover, nav li a.selected {
	color: #f42;
}

section#content {
	width: 60%;
}