<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	lang="sv">
	<xi:include href="layout.html" />
	<head><title>App</title></head>
	<body>
		<h1>Lägg till nedladdningfil</h1>
		<form action="add_download.result.html" method="post">
			<label accesskey="f" for="filename">Filnamn</label>
			<input type="text" name="filename" id="filename" value="" />
			<label accesskey="f" for="password">Administratörslösenord</label>
			<input type="password" name="password" id="password" value="" />
			<input type="submit" value="Skicka" />
		</form>
	</body>
</html>