<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	lang="sv">
	<xi:include href="layout.html" />
	<head>
		<title>App</title>
		<link rel="stylesheet" href="static/style.css" type="text/css" />
		<script type="text/javascript" src="static/app.js"></script>
		<style type="text/css">
			div#result p.cmd {
				overflow-x: scroll;
				white-space: pre;
			}
			div#result #close, .close {
				cursor: pointer;
				float: right;
			}
			input[type=text] { width: 100%; }
			input[name=url] { width: 86%; }
			input[name=url] + input[type=submit] { width: 12%; }
			ul#messages {
				padding: inherit;
				list-style: none;
			}

			div#result, .out, .player, .download, form#result_form, p.howto { display: none; }
		</style>
	</head>
	<body>
		<h1>App</h1>
		<form action="#">
			<label accesskey="u" for="url">Address</label>
			<input type="text" name="url" id="url" value="" />
			<input type="submit" value="Hämta" />
		</form>
		<ul id="messages"></ul>
		<p><form id="result_form">
				<label>Visa:</label>
				<input type="radio" name="action" value="show" checked="checked" /> <label>strömmar</label>
				<input type="radio" name="action" value="download" /> <label>nedladdningskommandon</label>
				<input type="radio" name="action" value="play" /> <label>uppspelningsskommandon</label>
				<label class="out" accesskey="s" for="out">Filnamn:</label>
				<input class="out" type="text" name="out" id="out" />
				<label class="player" accesskey="s" for="out">Spelare:</label>
				<select class="player" id="player"><option value="vlc">Vlc</option><option value="ffplay">Ffplay</option><option value="mplayer">Mplayer</option></select><br class="player" />
				<input name="show_inputs" id="show_inputs" class="download" type="checkbox" /><label class="download">Visa textfält</label>
		</form></p>
		<div class="result box" id="result">
			<p class="not-result howto" id="howto_hls"><a class="not-result" href="hls_guide.html">Hur kör jag det här kommandot?</a></p>
			<div class="not-result close">Stäng</div>
		</div>
	</body>
</html>