<py:match xmlns:py="http://genshi.edgewall.org/" path="head" once="true">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="Pirateplay gör det möjligt att spara webb-TV-program från SVT-play (och TV4-play, TV3-play etc.) i din dator." />
		<meta name="keywords" content="rippa spara rtmp rtmpdump play svt tv4 tv3 kanal5 tv6 tv8 kanal9 aftonbladet ur vimeo" />
		<link rel="alternate" type="application/rss+xml" title="Uppdateringar via Twitter" href="http://twitter.com/statuses/user_timeline.rss?screen_name=pirateplay_se" />
		<link rel="stylesheet" href="static/style.css" type="text/css" />
		<!--[if lt IE 9]>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
		<![endif]-->
		<!-- Piwik --> 
		<script type="text/javascript">
			var pkBaseURL = (("https:" == document.location.protocol) ? "https://wrutschkow.org/piwik/" : "http://wrutschkow.org/piwik/");
			document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript" src="static/piwik_init.js"></script>
		${select('*')}
	</head>
</py:match>