<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	lang="sv">
	<xi:include href="layout.html" />
	<head>
	</head>
	<body>
		<h1>Obs!</h1>
		<p>Om Pirateplay(er) inte beter sig som förväntat finns ett par saker att ta ta i aktning innan man ställer frågor.</p>
		<ul>
			<li>Läs igenom <a href="qna.html">Frågor och svar</a> för att se om din fråga där är besvarad.</li>
			<li>Befinner du dig utomlands? Tänk på att de flesta play-tjänster har restriktioner för utländska IP-nummer. Det du inte kan se i din webbläsare kan du sällan ladda ner eller se med Pirateplayer.</li>
			<li>Under en nedladdning kan oförutsedda saker ske. Om en nedladdning startas men avbryts under gång bör man göra om den ett par gånger för att utesluta att felet var tillfälligt.</li>
			<li>
				För att möjligöra felsökning, uppge följande om du mejlar:
				<ul>
					<li>Adress till det du försöker ladda ner eller, om du använder bläddra-funtionen i Pirateplayer: en schematisk sökväg - typ "SVT-play / Program A-Ö / Uppdrag granskning / Avsnitt 3".</li>
					<li>Pirateplayer-version.</li>
					<li>Vilken filändelse du sparar med (mp4, flv etc.).</li>
					<li>Ditt operativsystem.</li>
				</ul>
			</li>
		</ul>
	</body>
</html>