<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	lang="sv">
	<xi:include href="default_header.html" />
	<head>
		<title>Bibliotek</title>
	</head>
	<body>
		<xi:include href="logo.html" />
		<xi:include py:with="selected='library.html'" href="menu.html" />
		<section id="content">
			<h1>Bibliotek</h1>
			<h2>Ffmpeg</h2>
			<ul><li>Guide: <a href="http://www.wikihow.com/Install-FFmpeg-on-Windows">Installera Ffmpeg för Windows.</a></li></ul>
			<h2>Övriga resurser</h2>
			<ul>
				<li>Program: <a href="http://stream-recorder.com/forum/adobe-hds-downloader-t12074.html">Adobe HDS downloader</a> - för nedladdning av HDS-strömmar.</li>
				<li>Program: <a href="http://rtmpdump.mplayerhq.hu">Rtmpdump</a> - för nedladdning av RTMP-strömmar.</li>
			</ul>
		</section>
	</body>
</html>