<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	lang="sv">
	<xi:include href="layout.html" />
	<head>
		<title>Bibliotek</title>
	</head>
	<body>
		<h1>Bibliotek</h1>
		<h2>Apple HLS</h2>
		<ul><li>Guide: <a href="hls_guide.html">Ladda ner HLS-strömmar med Pirateplay.se och Ffmpeg</a></li></ul>

		<h2>Adobe HDS</h2>
		<ul>
			<li>Guide: <a href="hds_guide.html">Ladda ner Adobe HDS-strömmar med Pirateplay.se och AdobeHDS.php</a></li>
			<li>Program: <a href="http://stream-recorder.com/forum/adobe-hds-downloader-t12074.html">Adobe HDS downloader</a> - för nedladdning av HDS-strömmar.</li>
			<li>Guide: <a href="http://github.com/K-S-V/Scripts/wiki">Adobe HDS downloader</a> - manual</li>
			<li>Guide: <a href="http://svnpenn.github.com/2012/adobehds/">How to download AdobeHDS</a></li>
		</ul>

		<h2>Ffmpeg</h2>
		<ul>
			<li><a href="http://ffmpeg.org/">Hemsida</a></li>
			<li>Guide: <a href="http://www.wikihow.com/Install-FFmpeg-on-Windows">Installera Ffmpeg för Windows.</a></li>
		</ul>

		<h2>Pirateplayer</h2>
		<ul>
			<li>Guide: <a href="http://www.macguider.se/ladda-hem-ditt-tv-program-med-pirateplayer/">Ladda hem ditt TV-program med Pirateplayer</a> (macguider.se)</li>
		</ul>

		<h2>Övriga resurser</h2>
		<ul>
			<li>Program: <a href="http://rtmpdump.mplayerhq.hu">Rtmpdump</a> - för nedladdning av RTMP-strömmar.</li>
			<li>Program: <a href="http://planka.huggpunkt.org/h-vhs">Huggpunkt-VHS</a> laddar ner svensk webb-TV - liknar <a href="player.html">Pirateplayer</a>.</li>
		</ul>
	</body>
</html>