<html xmlns:py="http://genshi.edgewall.org/"
	xmlns:xi="http://www.w3.org/2001/XInclude">
	<head>
		<title>Frågor och svar</title>
		<link rel="stylesheet" href="static/style.css" type="text/css" />
	</head>
	<body>
		<xi:include href="logo.html" />
		<xi:include href="menu.html" />
		<section id="content">
			<h1>Frågor och svar</h1>
			<ul>
				<li py:for="question in qna.keys()"><a href="#${question[:-1].replace(' ', '')}">${question}</a></li>
			</ul>
			<py:for each="q, a in qna.items()">
				<h2 id="${q[:-1].replace(' ', '')}">${q}</h2>
				${a}
			</py:for>
		</section>
	</body>
</html>